* {
    margin: 0;
    padding: 0;
    /*outline: #3882F6 solid;*/
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.page-container {
    display: flex;
    flex-direction: column;

}

.top-section {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0 250px 0;
}

.header {
    display: flex;
    color: white;
    align-items: center;
    font-size: 24px;  
    margin-bottom: 150px;  
    padding-top: 20px;
}

.logo {
    font-weight: bolder;
}

ul {
    display: flex;
    margin-left: auto;
    gap: 30px;
}

li {
    list-style-type: none;

}

a {
    text-decoration: none;

}

.nav,
a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-section {
    display: flex;
    flex-wrap: nowrap;
    color: white;
    justify-content: stretch;
    margin-bottom: 100px;
    gap: 25px;
}

.hero-content {
    width: 500px;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.hero-subtext {
    margin: 15px 0;
}

.hero-image {
    flex-basis: 600px;
    margin-left: auto;
    min-width: 400px;
    min-height: 269px;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    width: 150px;
    background-color: #3882F6;
    border-radius: 6px;
    border: none;
    padding: 12px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.random-title {
    text-align: center;
    margin: 50px;
}

.random {
    display: flex;
    justify-content: left;
    gap: 50px;
    margin: 0 150px 100px;
}

.random-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.random img {
    min-width: 0;
    height: auto;
    border: #3882F6 solid 4px;
    border-radius: 6px;
}

.img-subtext {
    text-align: center;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 800px;
    gap: 12px;
}

.quote-container .attribution {
    margin-left: auto;
    font-weight: bold;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.cta-section {
    
}

.cta-container {
    display: flex;
    background-color: #3882F6;
    color: white;
    margin: 100px 200px;
    padding: 50px 100px;
    border-radius: 8px;
}

.cta-title {
    font-size: 36px;
    font-weight: bolder;
}

.cta-button {
    margin-left: auto;
    border: solid;
    border-color: #F9FAF8;
}
